<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Items Purchased

    <a data-toggle="collapse" href="#user_items_purchased_new_form">
      Add sale item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.items_purchased.each do |sale_item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to sale_item, sale_item %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_items_purchased_new_form">
        <%= render partial: "users/user_items_purchased_new_form" %>
      </div>
    </div>

  </ul>
</div>
