<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Items In Category

    <a data-toggle="collapse" href="#category_items_in_category_new_form">
      Add sale item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @category.items_in_category.each do |sale_item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to sale_item, sale_item %>

        <%= link_to sale_item, method: :delete, data: { confirm: "Do you really want to delete this sale_item" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="category_items_in_category_new_form">
        <%= render partial: "categories/category_items_in_category_new_form" %>
      </div>
    </div>

  </ul>
</div>
